<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PasteGeek</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-expand-sm navbar-dark fixed-top bg-primary">
            <div class="">
                <a href="/" class="navbar-brand">
                    <h4>StoreTXT@GEEK</h4>
                </a>
            </div>
        </nav>
        <div class="row justify-content-center" style="margin-top: 90px !important;">
            <div class="col-sm-12 col-md-4">
                {% if saved_file: %}
                <div class="card blue hoverable">
                    <div class="card-content white" style="height: 500px;">
                        {{ content }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var send = document.querySelector("#send");
        var form1 = document.querySelector('#store_form');
        send.addEventListener('click', function () {
            form1.submit();
        });
    </script>
</body>

</html>